<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tme.transactthis.com.couponquest" >

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Transactthis" >

        <activity
            android:parentActivityName=".MainActivity"
            android:name=".QuestViewActivity"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:parentActivityName=".MainActivity"
            android:name=".CouponDetailActivity"
            android:label="Coupon" android:screenOrientation="portrait" >
        </activity>

        <activity
            android:parentActivityName=".MainActivity"
            android:name=".ProfileActivity"
            android:label="Trey Robinson" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RewardsCardActivity"
            android:label="@string/title_activity_rewards_card" >
        </activity>

        <activity
            android:name=".iBeaconTestActivity"
            android:label="CouponTest" >
        </activity>
        <activity
            android:name=".NFCTestActivity"
            android:label="CouponTest" >
        </activity>

        <service
            android:name="com.radiusnetworks.ibeacon.service.IBeaconService"
            android:enabled="true"
            android:exported="true"
            android:isolatedProcess="false"
            android:label="iBeacon" >
        </service>
        <service
            android:name="com.radiusnetworks.ibeacon.IBeaconIntentProcessor"
            android:enabled="true" >
        </service>

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>
